BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
ColumnLimit: 100
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: true
SpaceAfterCStyleCast: true
Standard: Cpp11
